body {
    background-color: gray;
    color: pink;
}

a{
	color: white
}
.vegeterian{
	color:white;
}
#black{
	background-color: white
}
.title{
	height: 60px
	width: 100%
}
.content
{
	position: absolute;
	top:0px;
	left:200px;
}

.sidebar{
	background color:lightblue;
	position:absolute;
	top:0px;

}
.container{
	position: relative
}